body {
  font-family: Helvetica;
  width: 1080px;
  margin: 0 auto;
}

nav{
  padding: 10px;
  border-bottom: 2px solid gray;
}

ul{
  list-style: none;
}

.main-logo {
  width: 20%;
}

.left-column{
  display: inline-block;
  width: 200px;
  text-align: center;
  vertical-align: top;
}

.right-column{
  display: inline-block;
  width: 795px;
  margin: 25px;
}

.ailment{
  background-color: royalblue;
  color: white;
  line-height: 200px;
  border-radius: 100%;
}

.set-ailment{
  display: inline-block;
  text-decoration: none;
  color: black;
  border-bottom: 3px solid gray;
  padding: 10px;
  border-radius: 3px;
  background-color: lightgray;
  cursor: pointer;
}

.set-ailment:active{
  display: inline-block;
  margin-top: 3px;
  border-bottom: none;
}

.description{
  display: inline-block;
  width: 795px;
  margin: 15px;
}

.effective-strains{
  width: 200px;
}

.strains{
  padding-left: 0px;
}

.strain-box{
  display: inline-block;
  vertical-align: top;
  width: 75px;
  font-size: 12px;
  margin-top: 5px;
  cursor: pointer;
}

.strain-type{
  background-color: lavender;
  padding: 3px;
}

.strain-name{
  background-color: lightgreen;
  height: 60px;
  line-height: 50px;
}

.info{
  border: 1px solid black;
  margin-top: 5px;
  padding: 10px;
}

.review-module{
  margin: 15px 10px;
}

.review{
  border: 1px solid black;
  padding: 3px 5px;
}
