body {
  font-family: Helvetica;
  width: 1080px;
  margin: 0 auto;
}

nav{
  padding: 10px;
  border-bottom: 2px solid gray;
}

ul{
  list-style: none;
}

.main-logo {
  width: 25%;
}

.button{
 line-height: 20px;
 margin-left: 15px;
}

.right-column{
  display: inline-block;
  vertical-align: top;
  width: 680px;
  margin-left: 20px;
}

.strain-box1{
  display: inline-block;
  vertical-align: top;
  width: 150px; 
  line-height: 50px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.strain-box{
  display: inline-block;
  vertical-align: top;
  width: 75px;
  font-size: 12px;
  margin-top: 5px;
  cursor: pointer;
}

.strain-type{
  background-color: lavender;
  padding: 3px;
}

.strain-type1{
  background-color: lavender;
  text-align: center;
  padding: 3px;
}

.strain-name1{
  background-color: lightgreen;
  height: 100px;
  text-align: center;
  line-height: 100px;
}

.strain-name{
  background-color: lightgreen;
  height: 60px;
  line-height: 50px;
}

.ailment-name{
  background-color: royalblue;
  line-height: 125px;
  vertical-align: top;
  width: 125px;
  height: 125px;
  text-align: center;
  display: inline-block;
  color: white;
  border-radius: 80%;
}

.info{
  border: 1px solid black;
  display: inline-block;
  font-size: 12px;
  margin-top: 5px;
  /*margin-left: 175px;*/
  width: 750px;
  padding: 10px;
}

.info-1{
  border: 1px solid black;
  display: inline-block;
  margin-top: 5px;
  margin-left: 184px;
  width: 750px;
  padding: 10px;
}

.attributes{
  font-size: 20px;
}

.ailments{
  padding-left: 100px;
}

.strain-attributess{
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: lavender;
}
.attribute-name{
  display: inline-block;
  background-color: lightgrey;
  text-align: middle;
  width: 60px;
  /*height: 40px;*/
  font-size: 12px;
  margin-top: 0px;
  padding: 10px;
}

.effective-strains{
  width: 180px;
  display: inline-block;
  vertical-align: top;
}

.strains{
  padding-left: 0px;
}

.review-module{
  margin: 15px 10px;
  /*margin-left: 175px;*/
  width: 850px;    
  display: inline-block;
}

.review{
  border: 1px solid black;
  padding: 1px 3px;
}